# Temporary files
.DS_STORE
*.bak
*.log

# Maven related
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Netbeans related
nb-configuration.xml
nbactions.xml
nbproject/

# Eclipse related
*.classpath
*.project
.settings
bin/
out/

# IntelliJ related
.idea/
dist/
build/
*.iml
*.ipr
*.iws

